@charset "UTF-8";
.noneditable-rating .rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}
.noneditable-rating .rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}
.noneditable-rating .rating:not(:checked) > label:before {
  content: "★";
}

.editable-rating .rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}
.editable-rating .rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}
.editable-rating .rating:not(:checked) > label:before {
  content: "★";
}
.editable-rating .rating > input:checked + label:hover,
.editable-rating .rating > input:checked + label:hover ~ label,
.editable-rating .rating > input:checked ~ label:hover,
.editable-rating .rating > input:checked ~ label:hover ~ label,
.editable-rating .rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}
.editable-rating .rating:not(:checked) > label:hover,
.editable-rating .rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

.nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: #0A192F;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 1px;
}

.icon {
  color: #FFFFFF;
}

.menu {
  display: flex;
  gap: 30px;
  margin-right: 14px;
}
.menu .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .carticon img, .menu .profileicon img {
  width: 30px;
  height: 30px;
}

.linemenu {
  height: 5px;
  width: 30px;
  background-color: #64FFDA;
}

.linemenuL {
  height: 5px;
  width: 40px;
  background-color: #FFB300;
}

.mainlook {
  display: flex;
}

.search-container {
  position: relative;
  width: 50%;
}

.search-bar {
  position: relative;
  height: 30px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.search-input {
  width: 100%;
  border: none;
  background: none;
  color: #0A192F;
  font-size: 16px;
  padding: 10px;
  outline: none;
}

.search-input::placeholder {
  color: #aaa;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #333;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.search-icon svg {
  fill: #fff;
}

.itemplace {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 342.5px;
}

.itemplacelist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 140px;
}

.search-icon:hover {
  background-color: #555;
}

.glow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 200%;
  border-radius: 100px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
  transition: all 0.5s ease;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

.search-bar:focus-within + .glow {
  transform: translate(-50%, -50%) scale(1.2);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 250px;
  height: 312.5px;
  border-radius: 30px;
  background: rgba(178, 194, 197, 0.1254901961);
  overflow: hidden;
  margin-left: 25px;
  margin-top: 20px;
}
.card .infocard {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 126px;
  background-color: rgba(152, 152, 182, 0.2549019608);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 2;
}
.card .infocard .productName {
  font-size: 14px;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 19px;
  background-color: rgba(0, 0, 0, 0);
}
.card .infocard .productPrice {
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  margin-left: 19px;
  margin-top: 12px;
}
.card .infocard .productVariant {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 12px;
  margin-left: 19px;
  font-size: 12px;
  font-weight: lighter;
}
.card .infocard .restInfo {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 19px;
}
.card .infocard .restInfo .addToCart {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  bottom: 12px;
  background-color: rgba(152, 164, 216, 0.658);
}
.card .infocard .restInfo .soldInfo {
  margin-top: 12px;
  font-size: 12px;
  font-weight: lighter;
}

.cardlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 530px;
  height: 130px;
  background-color: rgba(178, 194, 197, 0.1254901961);
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 30px;
}
.cardlist .listimage img {
  margin-left: 10px;
  width: 125px;
  height: 108px;
}
.cardlist .infocard {
  display: flex;
  flex-direction: column;
  width: 405px;
  height: 130px;
  border-radius: 30px;
  background-color: rgba(152, 152, 182, 0.2549019608);
}
.cardlist .infocard .reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardlist .infocard .reviews .rating {
  margin-top: 4px;
  margin-left: 16px;
}
.cardlist .infocard .reviews .soldInfo {
  margin-right: 14px;
}
.cardlist .infocard .productName {
  margin-top: 5px;
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;
}
.cardlist .infocard .productPrice {
  color: #FFB300;
  margin-top: 4px;
  margin-left: 16px;
}
.cardlist .infocard .productVariant {
  margin-top: 4px;
  margin-left: 16px;
  font-size: 14px;
  font-weight: lighter;
}
.cardlist .infocard .restInfo {
  display: flex;
  justify-content: space-between;
  margin-right: 14px;
  align-items: start;
}
.cardlist .infocard .addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffa723;
}
.cardlist .infocard .addToCart i {
  display: relative;
  bottom: 12px;
  font-size: 20px;
  bottom: 12px;
}

.sidebar {
  width: 200px;
  height: 100rem;
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgba(170, 170, 170, 0.2745098039);
  box-shadow: 3px 3px 20px rgb(25, 25, 25);
}
.sidebar .section1 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.sidebar .section1 input {
  width: 60px;
  height: 40px;
  border-radius: 15px;
  text-align: center;
  border: 0;
  outline: 0;
}
.sidebar .section2 {
  width: 100%;
  height: 100px;
}
.rating {
  margin-right: 10px;
  display: flex;
  color: #ff9e0b;
  align-items: center;
}
.rating p {
  margin-top: 2px;
  margin-right: 4px;
}

.rating > .star {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.rating > .star:before {
  content: "★";
}

.rating > .checked:before {
  content: "★";
}

.rating > .checked {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: #ffa723;
}

.form {
  width: 400px;
  min-height: 400px;
  height: fit-content;
  position: absolute;
  top: -600px;
  left: auto;
  justify-self: center;
  background-color: #0A192F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 6px solid yellow;
  left: 50%;
  transform: translateX(-50%);
}
.form .state {
  display: flex;
  width: 100%;
}
.form .state button {
  margin-bottom: 20px;
  width: 50%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  color: #FFFFFF;
}
.form .state .loginOption {
  border-bottom: 4px solid yellow;
}
.form .state .underline {
  width: 50%;
  height: 20px;
  background-color: white;
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form form input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
}
.form label {
  color: #FFFFFF;
}

.formbg {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
  background-color: rgba(51, 51, 51, 0.5411764706);
}

/*# sourceMappingURL=styles.css.map */
