@import "function";
@import './components/nav.scss';
@import "./components/category.scss";
@import "./components/rating.scss";
@import "./components/footer.scss";
@import "./components/cards.scss";
@import "./components/sidebar.scss";
@import './components/form.scss';
@import './components/carousels.scss';


* {
  padding: 0;
  margin: 0;
}

body{
  background-color: #fff;

}

.rating {
  margin-right: 10px;
  display: flex;
  color: #ff9e0b;
  align-items: center;
  p {
    margin-top: 2px;
    margin-right: 4px;
  }
}



.rating > .star {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.rating > .star:before {
  content: "★";
}
.rating > .checked:before {
  content: "★";
}

.rating > .checked {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: #ffa723;
}


.sec2{
  margin-left: 30px;
  margin-right: 30px;
}

// Define color variables
.thank-you-container {
  background-color: #fff;
  padding: 20px;
  margin: auto;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.thank-you-container h2 {
  color: #4CAF50;
}